<div *ngIf="isLoading" class="loading">
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
</div>
<mat-card>
  <mat-card-header>
    <mat-card-title>Pessoa</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-stepper orientation="vertical" linear #stepper>
        <mat-step [stepControl]="mainDataForm">
            <ng-template matStepLabel>Dados principais</ng-template>
            <form [formGroup]="mainDataForm">
                <ng-template matStepContent>
                    <mat-form-field>
                        <mat-label>CPF</mat-label>
                        <input matInput type="text" formControlName="uniqueId" placeholder="Seu CPF" required
                        autocomplete="new-password" mask="000.000.000-99">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Data de nascimento</mat-label>
                        <input matInput type="date" formControlName="birthday"
                        placeholder="Sua data de nascimento" required autocomplete="new-password">
                    </mat-form-field>
                    <!-- <button mat-raised-button (click)="uniqueIdCheck()">
                        <mat-icon>search</mat-icon>
                        Pesquisar
                    </button>
                    <mat-form-field>
                        <mat-label>Nome</mat-label>
                        <input matInput type="text" formControlName="name" placeholder="Nome completo"
                        required autocomplete="new-password">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Gênero</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option *ngFor="let genderItem of genderSelectObject" [value]="genderItem.value"> {{genderItem.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button matStepperNext>Próximo</button>
                    </div> -->
                    <mat-card-actions>
                        <button mat-raised-button color="primary" [disabled]="mainDataForm.invalid || isLoading" (click)="personFormSubmit()">
                            <mat-icon>save</mat-icon>
                            {{isAddModule?'Criar' : 'Editar'}}
                        </button>
                    </mat-card-actions>
                </ng-template>
            </form>
        </mat-step>

        <!-- <mat-step [optional]="isOptional" [stepControl]="mobileForm">
            <ng-template matStepLabel>Contato e segurança</ng-template>
            <form [formGroup]="mobileForm">
                <ng-template matStepContent>
                    <mat-form-field>
                        <mat-label>Celular</mat-label><input matInput type="text" formControlName="phone"
                        placeholder="Seu celular disponível" required autocomplete="new-password" mask="(00) 00000-0000">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Código</mat-label>
                        <input matInput type="text" formControlName="smsCode"
                        placeholder="Código enviado para seu celular" required autocomplete="new-password">
                    </mat-form-field>
                    <button mat-raised-button (click)="smsCodeCheck()">Validar código</button>
                    <div>
                        <button mat-raised-button matStepperPrevious>Anterior</button>
                        <button mat-raised-button matStepperNext>Próximo</button>
                    </div>
                </ng-template>
            </form>
        </mat-step>
        
        <mat-step>
            <ng-template matStepLabel>Sucesso</ng-template>
            <div>
                <p>
                    \o/ Agora é só clicar em "Criar" e vir com a gente!
                </p>
            </div>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="personFormSubmit()">
                    <mat-icon>save</mat-icon>
                    {{isAddModule?'Criar' : 'Editar'}}
                </button>
            </mat-card-actions>
        </mat-step> -->
    </mat-stepper>
  </mat-card-content>
</mat-card>
