<mat-toolbar color="primary">
    <span class="flex-row">
        <img src="../../../assets/images/logos/main_logo.png" alt="Google logo" height="24px" style="margin-right: 8px;">
        Kunlatek Quickstart
    </span>
    <span class="spacer"></span>
    <span>
        <button mat-raised-button (click)="signInWithGoogle()">
            <img src="../../../assets/images/logos/google.svg.png" alt="Google logo" height="24px" style="margin-right: 8px;">
            Entrar com Google 
        </button>
    </span>
</mat-toolbar>

<div class="content-under-toolbar">
    <router-outlet></router-outlet>
</div>