/* You can add global styles to this file, and also import other style files */

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100% !important;
  white-space: nowrap;
}

.mat-cell, .mat-header-cell {
  padding-right: 18px;
}

button.mat-raised-button {
  margin-right: 18px;
}

mat-toolbar {
  z-index: 998;
  top: 0;
  position: fixed;
}

mat-card {
    margin-bottom: 20px;
}

mat-form-field {
  margin-right: 20px;
  width: 250px;
}

mat-slide-toggle {
  margin-right: 20px;
}

mat-tab {
  padding-bottom: 5px;
}

.centralized {
  position: inherit;
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-under-toolbar {
  position: relative;
  margin-top: 72px;
  margin-left: 12px;
  margin-right: 12px;
}

.file-input {
  display: none;
}

.flex-column {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
}

.flex-column-break {
  flex-basis: 100%;
  width: 0;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
}

.flex-row-break {
  flex-basis: 100%;
  height: 0;
}

.full-width {
  width: calc(100% - 32px);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.spacer {
  flex: 1 1 auto;
}

.table-container {
  position: relative;
  min-height: 50px;
  max-height: 240px;
  overflow: auto;
}

.text-centralized {
  text-align: center;
}