<mat-card>
  <mat-card-header>
    <mat-card-title>Grupo de permissão</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id="permissionGroupForm" [formGroup]="permissionGroupFormForm" (ngSubmit)="permissionGroupFormSubmit()">
      <mat-form-field>
        <mat-label>Nome</mat-label><input matInput type="text" formControlName="name" placeholder="Nome do grupo"
          required autocomplete="new-password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descrição</mat-label><input matInput type="text" formControlName="description"
          placeholder="Descrição do grupo" required autocomplete="new-password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Usuários relacionados</mat-label>
        <mat-select formControlName="users">
          <mat-option *ngFor="let usersItem of usersSelectObject" [value]="usersItem.value"> {{usersItem.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container formArrayName="modulesPermissionGroups">
        <mat-list *ngFor="let moduleItem of moduleSelectObject; index as i">
            <ng-container [formGroupName]="i">
              <mat-list-item> Permissões de módulo {{moduleItem.label}} </mat-list-item>
              <div>
                <mat-form-field>
                  <mat-label>Módulo</mat-label>
                  <input matInput type="text" formControlName="module" placeholder="Nome do módulo"
                    required autocomplete="new-password" [disabled]="true">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Permissões</mat-label>
                  <mat-select formControlName="permissions" multiple>
                    <mat-option *ngFor="let permissionsItem of permissionsSelectObject" [value]="permissionsItem.value">
                      {{permissionsItem.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </ng-container>
            <mat-divider></mat-divider>
          </mat-list>
          
      </ng-container>
      <mat-card-actions>
        <button mat-raised-button color="primary">
          <mat-icon>save</mat-icon>
          {{isAddModule?'Criar' : 'Editar'}}
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
