<mat-card>
  <mat-card-header>
    <mat-card-title>Convite</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id="invitationForm" [formGroup]="invitationFormForm" (ngSubmit)="invitationFormSubmit()">
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="type" required>
          <mat-option *ngFor="let typeItem of typeSelectObject" [value]="typeItem.value"> {{typeItem.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-mail</mat-label><input matInput type="text" formControlName="email"
          placeholder="O e-mail do convidado" required autocomplete="new-password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nome</mat-label><input matInput type="text" formControlName="name" placeholder="O nome do convidado"
          required autocomplete="new-password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Grupos de permissão</mat-label>
        <mat-select formControlName="permissionGroups" required multiple>
          <mat-option *ngFor="let permissionGroupsItem of permissionGroupsSelectObject"
            [value]="permissionGroupsItem.value"> {{permissionGroupsItem.label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions><button mat-raised-button color="primary">
        <mat-icon>save</mat-icon>
        {{isAddModule?'Criar' : 'Editar'}}
      </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
